/*---------------------------------------reset*/

html {
    scroll-behavior: smooth;
}


html,
body,
header,
main,
footer {
    width: 100vw;
    margin: 0;
    padding: 0;
}

section,
article,
figure,
div {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
a,
i {
    list-style: none;
    padding: 0;
    text-decoration: none;
    text-transform: none;
}

img {
    display: block;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

dd,
dl,
dt {
    margin: 0;
    padding: 0;
}

a,
a:active {
    color: #000
}

/*---------------------------------------style particulier*/

/* la home*/

.home-aiki {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* background de la home*/

.bc-aikibudo {
    background-image: url("../img/background/bc-page-aikibudo.jpg");
}

.bc-katori {
    background-image: url("../img/background/bc-page-katori.jpg");
}

.home-aiki h1 {
    font-size: 100px;
    line-height: 110%;
}

/*ajustement*/

.ajust-1 {
    margin-top: -20%;
    margin-left: -50%;
}

.ajust-2 span{
    display: block;
    font-size: 120%;
}

.ajust-3 span{
    display: block;
    font-size: 80%;
}

.pratique article div p {
    margin: 2% 0 7% 0;
}

.h2-pratique {
    margin: 5% 0 2% ;
}
.width-70 {
    display: block;
    margin: 0 auto;
    width: 70%;
}

/* le text*/

.text-aiki {
    width: 80%;
    margin: 5% auto;
    font-weight: 400;
 }

.text-aiki article{
    margin: 5% 0;
}

.text-aiki article div h2 {
    font-size: 40px;
    line-height: 110%;
    font-weight: 700;
    margin: 5% 0;
}

.text-aiki article div h3 {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 120%;
    margin: 5% 0 3%;
}

.text-aiki article div h3 span {
    text-decoration: underline;
    text-transform: uppercase;
}

.text-aiki article div h5 {
    font-size: 22px;
    text-decoration: underline;
    font-weight: 500;
    margin:3% 0;
}

.text-aiki article div p {
    margin-bottom: 2%;
}

/* les liens interarticles*/

.text-aiki article div p>a {
    font-weight: 600;
}

.text-aiki article div p>a:hover {
    color: #8B0405;
}

.text-aiki article div figure {
    padding: 5px}

.prec-suiv {
    width: 80%;
    padding: 2% ;
    margin: 20px auto 100px;
    font-weight: 600;
}

.prec-suiv ul li{
    display: inline;
}

.p-left-20 {
    padding-left: 20px;
}

/*programme*/

.dl-prog {
    text-align: center;
}

.dl-prog dt {
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color:#8B0405;
    margin: 2% 0;
}

.dl-prog dd {
    margin: 2% 0 5%;
}

.programme article {
    width: 80%;
    margin: 2% auto;
}

.programme article div h2 {
    margin: 3% auto 5%;
}

.programme article div ol li{
    margin: 2% 0;
    font-weight: 600;
}

.programme article div ol li ul li {
    margin: 1% 0 0 5%;
    font-weight: 400;
}

.programme article div ol li ul li ul li{
    margin: 1% 0 0 5%;
    font-weight: 300;
}




/* flex spéciale au page aiki et katori*/

/* les grow&shrink*/

.shrink-2 {
    flex-shrink: 1.3;
}

.shrink-3 {
    flex-shrink: 1.8;
}


/*---------------------------------------le responsive*/


/* pour les tablettes */
@media screen and (max-width: 960px) {

    /* l'entête */
    .home-aiki {
        height: 50vh;
    }

    .home-aiki h1 {
        font-size: 80px;
        margin-top: 0;
        margin-left: 30px;
    }
}

@media screen and (max-width: 480px) {

    /* l'entête */

    .home-aiki h1 {
        font-size: 60px;
    }

    .p-left-20 {
        padding-left: 0;
    }

    /* la section contenu */

    .text-aiki {
        width: 95%;
        margin: 5% auto;
    }

    .text-aiki article div h2 {
        font-size: 30px;
        margin-bottom: 10%;
    }

    .text-aiki article div h3 {
        font-size: 22px;
        line-height: 150%;
        margin: 5% 0;
    }

    .text-aiki article div h5 {
        font-size: 22px;
        line-height: 120%;
        margin:5% 0;
    }

    .prec-suiv {
        margin: 20px auto;
    }

}